
.app{
    height: 100vh;
    background-size: cover;
    color: white;
}

.search{
    display: flex;
    justify-content: center;
    padding-top: 15px;


    input{
        width: 50%;
        padding: 14px 28px;
        border: none;
        border-radius: 12px;
        font-size: 18px;

        color: black;
    }

    input:focus{
        outline-width: 0;
    }

    input::placeholder{
        color: black;
    }
}

.autocomplete-dropdown-container{
    position: absolute;
    top: 45px;
    color: black;
}


.loc-container{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    font-weight: 600;
    min-height: 37px;
    padding: 10px;
    margin: 15px 0px;

    .loc-item{
        flex: 1;
        overflow: hidden;
        text-align: center;
    }
}

.temp-container{
    display: flex;
    justify-content: center;
    font-size: 88px;
    font-weight: 700;
    margin-bottom: -10px;
}

.feels-container{
    display: flex;
    justify-content: center;
    font-size: 28px;
    font-weight: 400;
    margin-bottom: -5px;
    margin-top: 5px;
}

.sun-container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 24px;
    font-weight: 500;
    min-height: 37px;
    margin-top: 15px;

    .sun-item{
        flex: 1;
        overflow: hidden;
        text-align: center;
    }
}

.title {
    display: flex;
    justify-content: center;
    font-size: 32px;
    margin-top: 15px;
    font-weight: 500;
}

.title-top {
    margin-top: 55px;
}

::-webkit-scrollbar {
    display: none;
}
