.daily-container{
    display: flex;
    overflow: auto;
    min-height: 62px;
    gap: 10px;
    border-radius: 25px;

    .daily-item{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px 10px;
        flex-shrink: 0;
        min-width: 62px;
        
    }
}